<h1>The recipes are</h1>
Here we want a ul list with the ingredient, name, ingredients, steps, timers, originalURL
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>name</th>
            <th>ingredients</th> 
            <th>steps</th>
            <th>timers</th>
            <th>originalURL</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (recipe of recipes) {
        const main = recipe.name;
         %>
      <tr class="mb-2"> 
        <td><%= semester[sem]+year %></td>
        <td>
            <a href="/courses/bySubject/<%=course.subject %>">
              <%=  course['subject'] %>
            </a><a href="/courses/bySubject/<%=course.subject %>/<%= course.coursenum %>">
              <%=  course['coursenum'] %> 
            </a><a href="/courses/bySubject/<%=course.subject %>/<%= course.coursenum %>/<%= course.section %>">
                (Section <%=  course['section'] %>)
            </a>
            

 
        </td>

        <td>
            <a href="/courses/byName/<%=course.name %>">
               <strong><%= course.name %></strong>
            </a>
        </td>

        <td>
            <%=course.enrolled %>/<%=course.limit || 999 %>/<%= course.waiting %>
        </td>

        <td>
            <a href="/courses/show/<%=course._id %>">
                <% for (t of times2str(course.times)){%> 
                    <%= t %> <br> 
                <%} %>
            </a>
        </td>
         <!-- <%= JSON.stringify(course.times) %> <br> -->
        

        <td>
          <a href="/courses/byInst/<%= inst[2] %>">
             <%= inst[0]+" "+inst[1]%> <br> <%= " ("+inst[2]+")" %>
          </a>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>

<pre>
    <!-- 
        <%= JSON.stringify(courses,null,5) %> 
    -->
</pre>